@media only screen and (max-width: 1240px) {
    .logo-number {
        display: flex;
        flex-wrap: wrap;
    }

    .services-container {
        display: flex;
        flex-wrap: wrap;
    }

    .service {
        margin: 0 70px 0 70px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .testimonial-container {
        display: flex;
        flex-wrap: wrap;
    }

    .test1 {
        margin-top: 20px;
    }

    .test2 {
        margin-top: 20px;
    }

    .test3 {
        margin-top: 20px;
    }



    .contact-container {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-container ul {
        margin-left: 30px;
    }

    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

}

/* SMALL TABLET TO BIG TABLET FROM 767 TO 1023PX */
@media only screen and (max-width: 1023px) {}

/* SMALL PHONES TO SMALL TABLETS FROM 480 TO 767PX */
@media only screen and (max-width: 767px) {

    .about-container {
        display: flex;
        flex-direction: column;
    }
}


/* SMALL PHONES FROM 0 TO 480PX */
@media only screen and (max-width: 610px) {

    .logo-number {
        padding-left: 60px;
    }

    #cssmenu {
        display: none;
    }
}