* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Comfortaa';
}

/* ------- CONTAINER FOR THE ENTIRE SITE ------- */
.container {
    width: 100%;
    max-width: 1366px;
    margin: 5px auto 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    position: relative;
    border-top: 20px solid rgb(0, 81, 146);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 2px solid rgb(0, 81, 146);
    border-right: 2px solid rgb(0, 81, 146);
    position: relative;
}

/* ------- CONTAINER FOR LOGO, MOTTO, NUMBER, NAVBAR ------- */

.header {
    width: 100%;
    padding-bottom: 30px;
    position: relative;
}

/* ------- CONTAINER FOR LOGO AND NUMBER ------- */
.logo-number {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.logo {
    width: 350px;
    min-width: 350px;
    height: 100px;
    margin-right: 80px;
    border: 2px solid white;
    text-align: center;
    position: relative;

}

.logo img {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.number {
    display: flex;
    flex-direction: column;
    margin-left: -80px;
    position: relative;
    /* justify-items: flex-end;
    align-items: flex-end; */
    justify-content: flex-end;
}

.number h1 {
    color: rgb(0, 81, 146);
    letter-spacing: 3px;
}

.number span {
    color: rgba(238, 31, 37);
    text-shadow: -1px 0 rgb(0, 81, 146), 0 1px rgb(0, 81, 146), 1px 0 rgb(0, 81, 146), 0 -1px rgb(0, 81, 146);
}



.number h2 {
    color: #111;
    font-family: 'Comfortaa', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1;
    align-items: flex-end;
    text-align: center;
    padding-bottom: 10px;
}

/* ------- CONTAINER FOR MOTTO AND NAVBAR ------- */
.motto-nav {
    display: flex;
    justify-content: center;
}


.nav {
    display: flex;
    align-items: flex-end;
}

.nav ul {
    list-style-type: none;

}

/* ------- CODE FOR THE NAV BAR ------- */

@import url(http://fonts.googleapis.com/css?family=Raleway);

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cssmenu:after,
#cssmenu>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#cssmenu {
    width: auto;
    border-bottom: 3px solid rgb(0, 81, 146);
    font-family: Raleway, sans-serif;
    line-height: 1;
    display: flex;
    align-items: flex-end;
}

#cssmenu ul {
    background: #ffffff;
}

#cssmenu>ul>li {
    float: left;
}

#cssmenu.align-center>ul {
    font-size: 0;
    text-align: center;
}

#cssmenu.align-center>ul>li {
    display: inline-block;
    float: none;
}

#cssmenu.align-right>ul>li {
    float: right;
}

#cssmenu.align-right>ul>li>a {
    margin-right: 0;
    margin-left: -4px;
}

#cssmenu>ul>li>a {
    z-index: 2;
    padding: 18px 25px 12px 25px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #444444;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    margin-right: -4px;
}

#cssmenu>ul>li.active>a,
#cssmenu>ul>li:hover>a,
#cssmenu>ul>li>a:hover {
    color: #ffffff;
}

#cssmenu>ul>li>a:after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 120%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    content: "";
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    -webkit-transform: perspective(5px) rotateX(2deg);
    -webkit-transform-origin: bottom;
    -moz-transform: perspective(5px) rotateX(2deg);
    -moz-transform-origin: bottom;
    transform: perspective(5px) rotateX(2deg);
    transform-origin: bottom;
}

#cssmenu>ul>li.active>a:after,
#cssmenu>ul>li:hover>a:after,
#cssmenu>ul>li>a:hover:after {
    background: rgb(0, 81, 146);
}




/* ------- CONTAINER FOR THE 3 SERVICES DIVS ------- */
.services-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    padding: 30px 0;
    /* background-color: #f8f8f8; */
}

.about-container {
    display: flex;
    padding: 20px 40px;
    margin-bottom: 20px;
}

.about-container-copy p::first-letter {
    font-size: 350%;
    color: red;
}

.about-container img {
    border-radius: 50%;
}

.headshot {
    padding: 20px 40px;
}

.about-container-copy {
    padding: 20px 40px;
}


.service {
    width: 250px;
    height: 350px;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: .5px .5px 4px rgba(238, 31, 38, 0.185);
}

.service div {
    background-color: rgb(0, 81, 146);
    color: #fff;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0 5px 0;
    text-shadow: 2px 5px 10px rgba(238, 31, 37);
}

#bookkeep {
    color: #fff;
    background-color: rgb(0, 81, 146);
    height: 80px;
    line-height: 70px;
}



.service p {
    padding: 10px 10px 10px 10px;
    color: #2a2a2a;
    text-align: justify;
    letter-spacing: .75px;
}



/* ------- CONTACT AND MAP CONTAINER ------- */
.contact-container {
    display: flex;
    padding: 20px 40px;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.contact-info li {
    padding-bottom: 40px;
    font-size: 20px;
    color: #2e2e2e;
}

.contact-info span {
    padding-left: 50px;
}


.contact-info i {
    font-size: 18px;
    padding-right: 30px;
    text-shadow: -1px 0 rgb(0, 81, 146), 0 1px rgb(0, 81, 146), 1px 0 rgb(0, 81, 146), 0 -1px rgb(0, 81, 146);
    color: rgba(238, 31, 37);
}

.contact-container ul {
    list-style: none;
}

.contact-icons i {
    padding-left: 90px;
    font-size: 40px;
}

#fb {
    color: #3b5998;
}

#linked {
    color: #0e76a8;
}

#twit {
    color: #00acee
}

.testimonial-container {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    /* background-color: #f8f8f8; */
    /* min-width: 1366px; */
}

blockquote {
    font-size: 20px;
    background: #fff;
    /* margin: .5em 10px; */
    padding: 0 10px;
    quotes: "\201C""\201D""\2018""\2019";
    /* padding: 0 20px; */
    line-height: 1.4;
}

blockquote::before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -5px;
    position: relative;
    top: 40px;
    color: rgb(0, 81, 146);
    font-size: 3em;
}

blockquote:after {
    visibility: hidden;
    content: close-quote;
}

footer {
    text-align: right;
}

/* .testimonial-container h1 {
    color: #fff;
    padding: 5px 0;
}

.testimonial-container h2 {
    color: #fff;
    padding: 0 0 5px 0;
} */

/* .testimonial-container h1 {
    padding: 5px;
    text-align: center;
} */

/* .testimonial-container h2 {
    color: #fff;
    text-align: center;
} */

.test1 {
    width: 350px;
    height: 300px;
    border: 1px solid rgb(0, 81, 146);
    border-radius: 20px;
    box-shadow: 1px 1px rgb(0, 81, 146);
}

.test1 p {
    margin-top: 10px;
    /* height: 200px; */
    /* border-left: 2px solid rgba(238, 31, 37);
    border-right: 2px solid rgba(238, 31, 37);
    border-bottom: 5px solid rgba(238, 31, 37); */
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    text-align: justify;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* box-shadow: 1px 1px rgb(0, 81, 146); */
}

.test2 {
    width: 350px;
    height: 300px;
    border: 1px solid rgb(0, 81, 146);
    border-radius: 20px;
    box-shadow: 1px 1px rgb(0, 81, 146)
}

.test2 p {
    margin-top: 10px;
    /* height: 200px; */
    /* border-left: 2px solid rgba(238, 31, 37);
    border-right: 2px solid rgba(238, 31, 37);
    border-bottom: 5px solid rgba(238, 31, 37); */
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    text-align: justify;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* box-shadow: 1px 1px rgb(0, 81, 146); */
}

.test3 {
    width: 350px;
    height: 300px;
    border: 1px solid rgb(0, 81, 146);
    border-radius: 20px;
    box-shadow: 1px 1px rgb(0, 81, 146)
}

.test3 p {
    margin-top: 10px;
    /* height: 200px; */
    /* border-left: 2px solid rgba(238, 31, 37);
    border-right: 2px solid rgba(238, 31, 37);
    border-bottom: 5px solid rgba(238, 31, 37); */
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    text-align: justify;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    /* box-shadow: 1px 1px rgb(0, 81, 146); */
}

.test-top {
    background-color: rgba(0, 80, 146, 0.603);
    color: #fff;
    border: 1px solid white;
    border-radius: 20px;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
    text-align: center;
}


.footer {
    display: flex;
    width: 100%;
    max-width: 1366px;
    padding: 20px 0;
    justify-content: space-around;
    /* background-color: rgba(0, 80, 146, 0.548); */
    /* margin-left: -30px; */
    margin: 0 auto 10px auto;
    background-color: rgb(0, 81, 146);
    border-left: 2px solid rgb(0, 81, 146);
    border-right: 2px solid rgb(0, 81, 146);
    border-bottom: 2px solid rgb(0, 81, 146);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.left-foot {
    width: 50%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.addy-container ul {
    list-style: none;
    margin: 0 10px;
}

.addy-container li {
    color: #2a2a2a;
    letter-spacing: 2px;
    padding: 3px 0 5px 0;
}

.newsletter {}

.copyright {}

.right-foot {
    width: 50%;
    height: 100px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.foot-contact {}

.foot-social-media {
    margin: 0 10px;
}

#icon {
    font-size: 60px;
}